*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: "Space Mono", monospace;
}
.section-1{
    height: 100%;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav h1{
    font-size: 40px;
}
nav h1 i{
    font-size: 35px;
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}

nav button{
    padding: 12px 18px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid black;
}

.center{
    padding: 60px 100px;
    width: 100%;
    height: 80%;
    display: flex;
}

.center-part-1{
    height: 100%;
    width: 50%;
}

.center-part-1 h2{
    font-size: 50px;
    line-height: 1.2;
}
.center-part-1 p{
    font-size: 20px;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 40px;
}
.center-part-1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    
}


.center-part-2{
    height: 100%;
    width: 50%;
    position: relative;
}
.center-part-2 img{
    position: absolute;
    right: 0;
    height: 100%;
}
.section1button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1button img{
    height: 60px;
}