*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: "Space Mono", monospace;
}
.section-1{
    /* height: 100%; */
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav h1{
    font-size: 40px;
}
nav h1 i{
    font-size: 35px;
    display: inline-block;
    rotate: 45deg;
}
nav h4{
    font-size: 20px;
    font-weight: 500;
}

nav button{
    padding: 12px 18px;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    font-weight: 600;
    border: 2px solid black;
}

.center{
    padding: 60px 100px;
    width: 100%;
    height: 80%;
    display: flex;
}


.center-part-1{
    height: 100%;
    width: 50%;
}

.center-part-1 h2{
    font-size: 50px;
    line-height: 1.2;
}
.center-part-1 p{
    font-size: 20px;
    line-height: 1.4;
    margin-top: 40px;
    margin-bottom: 40px;
}
.center-part-1 button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 18px 30px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    
}


.center-part-2 {
    height: 100%;
    width: 50%;
    position: relative;
}

.center-part-2 img {
    width: 100%;
    height: auto;
    position: relative;
}
.section1button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1button img{
    height: 60px;
}

/* .section2{
padding: 40px 100px;
} */
.section2 .services{
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content:flex-start ;
    gap: 20px;
}
.services h3{
    background-color: #9AE975;
    padding: 6px 8px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 30px;
}
.services p{
    width: 90%;
    font-size: 14px;
    font-weight: 500;
}

.container{
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.elem{
    flex-shrink: 0;
    height: 250px;
    width: 48%;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0px 10px 0px black;
    padding: 40px;
    display: flex;
}

.elem-part-1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part-1 h2{
    font-size: 25px;
    width: 100%;
    padding: 10px;
    background-color: #9AE975;
    border-radius: 20px;
    font-weight: 500;
}

.elem-part-1 h4{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;
}
.elem-part-1 h4 i{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: wheat;
    border-radius: 100%;
    font-size: 20px;
    rotate: 5deg;

}
.black{
    background-color: black;
    color: white;
}
.line-1 h2{
    background-color: white;
    color: black;
}
.elem-part-2{
    height: 100%;
    width: 50%;
}
.elem-part-2 img{
    height: 100%;
}